:host {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  ::ng-deep .custom-modal {
    background: transparent !important; /* Esto asegura que el fondo del modal sea transparente */
  }
  